<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        link(rel="stylesheet", href="css/dashboard.css")
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/5e430f0a6b.js")
        title Dashboard
    body
        main
            <div class="nav">
                <div class="user-settings">
                    <img src="img/user.png" class="user-icon" />
                    <i class="fas fa-caret-down dropdwown-icon" onclick="toggleUserMenu()"></i>
                    <div class="user-menu" id="user-menu">
                        <p>Field A</p>
                        <p>Field B</p>
                        <p>Field C</p>
                    </div>
                </div>
            </div>

            aside.menu
                div.logo-container  
                    img(class="logo" src="img/logo.png") 
                div.item-container
                    div.item(class="selected" id="algorithm") 
                        i(class="fas fa-house-user")
                        span Dashboard
                    div.item(id="machine learning") 
                        i(class="fas fa-paper-plane")
                        span Transfer
                    div.item(id="system")
                        i(class="fas fa-house-user")
                        span Transactions
                    div.item(id="javascript")
                        i(class="fas fa-history")
                        span Login History
                div.logout-container
                    button#logout log out

            div.content
                div.content-container 
                    span.content-heading Dashboard  
                
                div.card-container                     
                    <div class="card">
                        <div class="card__front card__part">
                            <img class="card__front-square card__square" src="img/dbs.png">
                            <img class="card__front-logo card__logo" src="img/visa.png">
                            <p class="card_numer">**** **** **** 6258</p>
                            <div class="card__space-75">
                                <span class="card__label">Card holder</span>
                                <p class="card__info">Soumil Kumar</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">10/25</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card2">
                        <div class="card__front card__part">
                            <img class="card__front-square card__square" src="img/dbs.png">
                            <img class="card__front-logo card__logo" src="img/visa.png">
                            <p class="card_numer">**** **** **** 02496</p>
                            <div class="card__space-75">
                                <span class="card__label">Card holder</span>
                                <p class="card__info">Soumil Kumar</p>
                            </div>
                            <div class="card__space-25">
                                <span class="card__label">Expires</span>
                                <p class="card__info">03/24</p>
                            </div>
                        </div>
                    </div>

                    <div class="card3">
                        <img src="img/user.png" class="user-icon" />
                        <div class="side-details">
                            //- intro section
                            <p><b>Holder's Name:</b> Soumil Kumar</p>
                            <p><b>Account Number:</b> 456702496</p>
                        </div>
                        <div class="side-details">
                            <p class="title-details">Current Account</p>
                            <p><b>Balance HKD:</b> $5656</p>
                            <p><b>Balance USD:</b> $5656</p>
                        </div>
                        <div class="side-details">
                            //- savings section 
                            <p class="title-details">Savings Account</p>  
                            <p><b>Balance HKD:</b> $5656</p>
                            <p><b>Balance USD:</b> $5656</p>
                        </div>
                        <div class="side-details">
                            //- savings section  
                            <p><b>Balance HKD:</b> $5656</p>
                            <p><b>Balance USD:</b> $5656</p> 
                        </div>
                    </div>
                    //- section(class="dashboard display-section")
                    //-     <div class="balance-details">
                    //-         <table>
                    //-             <thead>
                    //-                 <tr>
                    //-                     <th>Account Number</th>
                    //-                     <th>Type of Account</th>
                    //-                     <th>Balance [HKD]</th>
                    //-                     <th>Balance[USD]</th>
                    //-                     <th>Account Holder's Name</th>
                    //-                 </tr>
                    //-             </thead>
                    //-             <tbody>
                    //-                 <tr>
                    //-                     <td>SOUMIL123</td>
                    //-                     <td>Current</td>
                    //-                     <td>1000</td>
                    //-                     <td>100</td>
                    //-                     <td>Soumil Kumar</td>
                    //-                 </tr>
                    //-                 <tr>
                    //-                     <td>SOUMIL123</td>
                    //-                     <td>Current</td>
                    //-                     <td>1000</td>
                    //-                     <td>100</td>
                    //-                     <td>Soumil Kumar</td>
                    //-                 </tr>
                    //-             </tbody>
                    //-         </table>
                    //-     </div> 

                    section(class="table-container loginhistory")
                        <table id="login-history" class="table is-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login Time</th>
                                    <th>Login Date</th>
                                    <th>IP Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                </tr>
                            </tbody>
                        </table>
                    section(class="table-container transactions")
                        <table id="example" class="table is-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>From Account</th>
                                    <th>To Account</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                            </tbody>
                        </table>
                    <section class="transfer">
                        <p class="balance-disp"><b>Balance [Current]:</b> $22,000</p>
                        <p style="margin-top: -10px" class="balance-disp"><b>Balance [Savings]:</b> $22,000</p>
                        <div class="amount-box">
                            <div>
                                <label for="from">
                                    <p>From:</p>
                                </label>
                                <select name="from" id="" class="from-dropdown">
                                    <option value="Current">Current</option>
                                    <option value="Savings">Savings</option>
                                </select>
                            </div>
                            <div>
                                <label for="to">
                                    <p>To Account Number</p>
                                </label>
                                <input name="to" placeholder="Enter" id="acct-number" class="from-dropdown to-account-number">
                                </input>   
                            </div>
                        </div>
                        <div class="currency-amount">
                            <div>
                                <label for="currency">
                                    <p>Currency:</p>
                                </label>
                                <select onchange="retCurrency()" name="currency" id="currency" class="from-dropdown">
                                    <option value="HKD">HKD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div>    
                                <label for="Amount">
                                    <p>Amount</p>
                                </label>
                                <input name="Amount" id="amount" class="from-dropdown amount-input" type="text" />
                            </div>
                        </div>
                        <div class="date-selector">
                            <p>Choose the date:</p>
                            <input type="date" class="from-dropdown date-input"></input>
                        </div>
                        <button onclick="togglePaymentDetailsContainer()" class="confirm-transfer">
                            <p>Confirm</p>
                        </button>
                        <hr class="payment-line-divide">
                        <div class="payment-details-container-hide" id="payment-details-container">
                            <p class="payment-box-header"><b>Payment Details</b></p>
                            <div class="payment-details">
                                <p id="amount-transfer"></p>
                                <i class="fas fa-arrow-circle-right"></i>
                                <p id="account-transfer"></p>
                            </div>
                        </div>

                    </div>
                           
    script(src="/js/dashboard.js")