body {
    overflow: hidden;
}
main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f6f8fa;
}

.card3{
    position: absolute;
    left: 840px;
    top: -150px;
    padding-top: 25px;
    height: 900px;
    width: 22%;
    background-color: #fff;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ebeced;
}

.side-details{
    border-top: solid 1px #ebeced;
}

.top-details{
    padding: 10px 15px;
    font-family: 'Raleway';
}

.top-details p{
    text-align: center;
    line-height: 6px;
}

.account-number-side{
    color: #757575
}


.side-details p{
    line-height: 10px;
}
.side-details p b{
    color: #eb4d4b;
}

.title-details{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
}

.user-icon{    
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    display: block;
    /* margin-left: 70px; */
    border-radius: 50%;
}

section {
    display: none;
    transition: all 0.5s;
}

.display-section {
    display: block;
}

.dropdown-icon{
    height: 20px;
    width: 20px;
}

.user-settings{
    float: right;
    margin-top: 14px;
    margin-right: 10px;
}

.transfer{
    width: 800px;
}

.user-menu{
    text-align: center;
    font-family: 'Raleway';
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    margin-top: 13px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}


.logo-container {
    position: relative;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 80px;
}

.nav {
    position: absolute;
    top: 0; 
    left: 18%;
    width: 82%;
    height: 80px;
    background-color: #fff;
}

.item-container {
    position: relative;
    top: 26px;
}

.menu {
    float: left;
    width: 18%;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    border-right: 1px solid #eee;
}

.menu .item {
    position: relative;
    left: 0%;
    width: 100%;
    transition: all 0.175s;
    margin-top: 4px;
    font-size: 12px;
    font-family: raleway;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24%;
}

.logout-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.logo {
    width: 142px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logout {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #eb4d4b;
    border: none;
    font-family: raleway;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.item i {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 14px;
}

.selected {
    background-color: #eb4d4b;
    color: white;
    border-left: 4px solid #eb4d4b;
}


.list-icon {
    left: 2px;
}

.item span {
    position: relative;
    left: 28px;
}

.content {
    position: relative;
    left: 18%;
    width: 82%;
    height: 100%;
    top: 60px;
}

.content-container {
    position: absolute;
    top: 6%;
    left: 80px;
}

.content-heading {
    position: relative;
    top: -30;
    left: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3436;
    font-family: raleway;

}

.card-container {
    position: relative;
    top: 90px;
    display: block;
    left: 80px;
}
.card {
    position: absolute;
    width: 260px;
    height: 130px;
    font-family: raleway;
}

.payment-details-container-hide{
    display: none;
}

.payment-details-container-show{
    margin-left: -30px;
}

.hide {
    display: none;
}

.from-dropdown{
    width: 150px;
    background-color: #ebeced;
    height: 40px;
    border-style: solid;
    padding: 5px 10px;
    border-color: #ebeced;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 18px;
}

.to-account-number{
    width: 200px;
}
.from-dropdown:focus{
    outline: none;
}

.from-dropdown option{
    font-size: 20px;
}

.card2 {
    left: 340px;
}
    
    .card__part{
      box-shadow: 1px 1px #aaa3a3;
      top: 0;
      position: absolute;
       z-index: 1000;
      left: 0;
      display: inline-block;
        width: 260px;
        height: 130px;
        background: #396afc;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
       
        -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
    }
    
    .card__front{
      padding: 18px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    }
    
    .card__black-line {
        margin-top: 5px;
        height: 38px;
        background-color: #303030;
    }

    .amount-input{
        font-style: 30px;
        color: #14131e;
    }

    .date-selector{
        margin-top: 10px;
        color: #14131e;
        display: flex;
    }

    .date-selector p{
        margin-top: 7px;
        font-size: 20px;
        margin-right: 10px;
    }

    .amount-box{
        display: flex;
    }
    .amount-box div{
        margin-right: 30px;
    }

    .balance-disp{
        margin-left: 320px;
    }

    .payment-box-header{
        font-family: 'Raleway';
        font-size: 20px;
        margin-left: 390px;
        color: #14131e;
    }

    .payment-line-divide{
        border-style: solid;
        border-width: 1px;
        border-color: #eceeef;
        margin-left: 150px;
        margin-right: 150px;
    }

    .currency-amount{
        margin-left: 350px;
    }

    .confirm-transfer{
        background-color: #1fba4a;
        color: #fff;
        font-family: 'Raleway';
        font-size: 20px;
        height: 50px;
        width: 150px;
        border-style: none;
        cursor: pointer;
        margin-left: 100px;
        border-radius: 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .payment-details{
        display: flex;
    }

    .payment-details p{
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

    .payment-details i{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 25px;
    }

    .date-input{
        width: 200px;
    }
    
    .card__logo {
        height: 24px;
    }
    
    .card__front-logo{
          position: absolute;
        top: 18px;
        right: 18px;

    }
    .card__square {
        border-radius: 5px;
        height: 24px;
    }
    
    .card_numer {
        display: block;
        width: 100%;
        word-spacing: 4px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card__space-75 {
        width: 75%;
        float: left;
    }
    
    .card__space-25 {
        width: 25%;
        float: left;
    }
    
    .card__label {
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.8);
        letter-spacing: 1px;
    }
    
    .card__info {
        margin-bottom: 0;
        margin-top: 0px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .table-container {
        position: absolute;
        top: 170px;
        left: -29px;
        width: 68%;
    }
    
    .dashboard {
        position: relative;
        top: 200px;
        width: 80%; 
        height: 220px; 
        border-radius: 20px;
        background: #fff;
    }

    .balance-details { 
        background: #fff;
    }

    .balance-details table {
        left: 0;
        font-family: 'Raleway';
        top: 0;
        position: absolute;
        border-right-color: #ffffff;
        font-size: 16px;
        border-collapse: colla
    }

    .balance-details table th, td {
        padding: 16px 12px;
        text-align: center;
    }

    .balance-details table th {
        background-color: #eb4d4b;
        color: #fff;
        width: 17%;
    }

    .balance-details table tbody tr{
        background-color: #f8f9fa;
        text-align: center;
    }